@container-margin: 20px;

.full-height {
    height: 100%;
}

.mw-container {
    margin-bottom: @container-margin;
}

.mw-vertical_flow {
    .mw-container;
}

.mw-horizontal_flow {
    .mw-container;
}
