@container-margin: 20px;

.mw-container {
    margin-bottom: @container-margin;
}

.container {
    margin-bottom: @container-margin;
}

.mw-vertical_flow {
    .mw-container;
}

.mw-horizontal_flow {
    .mw-container;
}

.mw-vertical_flow:last-child {
    margin-bottom: 0;
}

.mw-horizontal_flow:last-child {
    margin-bottom: 0;
}
