.mw-bs {

    .notifications {
        position: absolute;
        top: 0;
        z-index: 1060;
        margin: 0;
        width: 33.333333%;
        min-width: 300px;
        list-style: none;

    }

    .center-notifications {
        left: 33.333333%;
    }

    .right-notifications {
        left: 66.666666%;
    }
    
}

@media (max-width: 768px) {

  .mw-bs {

    .notifications {
      display: block;
      width: 100% !important;
      left: 0 !important;

    }

  }

}