.mw-bs {

    .table-container {
        position: relative;
    }

    .table-outcome-column {
        width: 1px;
        white-space: nowrap;
    }

    .table-search {
        min-width: 300px;
        width: 50%;
    }

    .table-error {
        text-align: center;
    }
    
}