.mw-bs {

    .mw-toggle {

        & > div > label {
            display: inline-block;
            height: 34px;
            position: relative;
            width: 60px;

            input {
                display: none;
            }

            div {
                -webkit-transition: 0.4s;
                background-color: #cccccc;
                bottom: 0;
                cursor: pointer;
                left: 0;
                position: absolute;
                right: 0;
                top: 0;
                transition: 0.4s;
            }

            div:before {
                -webkit-transition: 0.4s;
                background-color: white;
                bottom: 4px;
                content: '';
                height: 26px;
                left: 4px;
                position: absolute;
                transition: 0.4s;
                width: 26px;
            }

            input:checked + div:before {
                -ms-transform: translateX(26px);
                -webkit-transform: translateX(26px);
                transform: translateX(26px);
            }

            .round {
                border-radius: 34px;
            }

            .round:before {
                border-radius: 50%;
            }
        }
    }

}
