.mw-tours {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background: transparent;
    pointer-events: none;
}

.mw-bs .mw-tour-step.popover {
    min-width: 100px;
    max-width: 400px;
    z-index: 1000000;
    display: block;
    position: relative;
}