.mw-bs  {
    @import (less) "cyborg.css";

    .btn-default.btn-outline {
        color: #424242;
    }

    .btn-primary.btn-outline {
        color: #2a9fd6;
    }

    .btn-success.btn-outline {
        color: #77b300;
    }

    .btn-info.btn-outline {
        color: #9933cc;
    }

    .btn-warning.btn-outline {
        color: #ff8800;
    }

    .btn-danger.btn-outline {
        color: #cc0000;
    }

    .mw-toggle input:checked + div {
        background: #2a9fd6;
    }

    .mw-toggle input:focus + div {
        box-shadow: 0 0 1px #2a9fd6;
    }

    .mw-toggle input:checked + div.success {
        background: #77b300;
    }

    .mw-toggle input:focus + div.success {
        box-shadow: 0 0 1px #77b300;
    }

    .mw-toggle input:checked + div.info {
        background: #9933cc;
    }

    .mw-toggle input:focus + div.info {
        box-shadow: 0 0 1px #9933cc;
    }

    .mw-toggle input:checked + div.warning {
        background: #ff8800;
    }

    .mw-toggle input:focus + div.warning {
        box-shadow: 0 0 1px #ff8800;
    }

    .mw-toggle input:checked + div.danger {
        background: #cc0000;
    }

    .mw-toggle input:focus + div.danger {
        box-shadow: 0 0 1px #cc0000;
    }

    .navbar-wizard .steps {
        & > li {              
            color: #77b300;

            & > .glyphicon {
                background-color: #77b300;
            }

            & > .indicator {
                background-color: #77b300;
            }

            & .indicator:before,
            & .indicator:after {
                background-color: #77b300;
            }
        }

        & > li.active {                
            color: #2a9fd6;

            & > .indicator {
                background-color: #2a9fd6;
            }

            & .indicator:before,
            & .indicator:after {
                background-color: #2a9fd6;
            }
        }

        & > li.active ~ li {
            color: #888888;

            & > .indicator {
                background-color: #bbbbbb;
            }

            & .indicator:before,
            & .indicator:after {
                background-color: #bbbbbb;
            }
        }
    }
}
