.mw-bs  {
    @import (less) "cosmo.css";

    .btn-default.btn-outline {
        color: #222222;
    }

    .btn-primary.btn-outline {
        color: #2780e3;
    }

    .btn-success.btn-outline {
        color: #3fb618;
    }

    .btn-info.btn-outline {
        color: #9954bb;
    }

    .btn-warning.btn-outline {
        color: #ff7518;
    }

    .btn-danger.btn-outline {
        color: #c2002b;
    }

    .mw-toggle input:checked + div {
        background: #2780e3;
    }

    .mw-toggle input:focus + div {
        box-shadow: 0 0 1px #2780e3;
    }

    .mw-toggle input:checked + div.success {
        background: #3fb618;
    }

    .mw-toggle input:focus + div.success {
        box-shadow: 0 0 1px #3fb618;
    }

    .mw-toggle input:checked + div.info {
        background: #9954bb;
    }

    .mw-toggle input:focus + div.info {
        box-shadow: 0 0 1px #9954bb;
    }

    .mw-toggle input:checked + div.warning {
        background: #ff7518;
    }

    .mw-toggle input:focus + div.warning {
        box-shadow: 0 0 1px #ff7518;
    }

    .mw-toggle input:checked + div.danger {
        background: #c2002b;
    }

    .mw-toggle input:focus + div.danger {
        box-shadow: 0 0 1px #c2002b;
    }

    .navbar-wizard .steps {
        & > li {              
            color: #3fb618;

            & > .glyphicon {
                background-color: #3fb618;
            }

            & > .indicator {
                background-color: #3fb618;
            }

            & .indicator:before,
            & .indicator:after {
                background-color: #3fb618;
            }
        }

        & > li.active {                
            color: #2780e3;

            & > .indicator {
                background-color: #2780e3;
            }

            & .indicator:before,
            & .indicator:after {
                background-color: #2780e3;
            }
        }

        & > li.active ~ li {
            color: #888888;

            & > .indicator {
                background-color: #bbbbbb;
            }

            & .indicator:before,
            & .indicator:after {
                background-color: #bbbbbb;
            }
        }
    }
}
