.mw-bs  {
    @import (less) "darkly.css";

    .btn-primary.btn-outline {
        color: #375a7f;
    }

    .btn-success.btn-outline {
        color: #00bc8c;
    }

    .btn-info.btn-outline {
        color: #3498db;
    }

    .btn-warning.btn-outline {
        color: #f39c12;
    }

    .btn-danger.btn-outline {
        color: #e74c3c;
    }

    .mw-toggle input:checked + div {
        background: #375a7f;
    }

    .mw-toggle input:focus + div {
        box-shadow: 0 0 1px #375a7f;
    }

    .mw-toggle input:checked + div.success {
        background: #00bc8c;
    }

    .mw-toggle input:focus + div.success {
        box-shadow: 0 0 1px #00bc8c;
    }

    .mw-toggle input:checked + div.info {
        background: #3498db;
    }

    .mw-toggle input:focus + div.info {
        box-shadow: 0 0 1px #3498db;
    }

    .mw-toggle input:checked + div.warning {
        background: #f39c12;
    }

    .mw-toggle input:focus + div.warning {
        box-shadow: 0 0 1px #f39c12;
    }

    .mw-toggle input:checked + div.danger {
        background: #e74c3c;
    }

    .mw-toggle input:focus + div.danger {
        box-shadow: 0 0 1px #e74c3c;
    }

    .navbar-wizard .steps {
        & > li {              
            color: #00bc8c;

            & > .glyphicon {
                background-color: #00bc8c;
            }

            & > .indicator {
                background-color: #00bc8c;
            }

            & .indicator:before,
            & .indicator:after {
                background-color: #00bc8c;
            }
        }

        & > li.active {                
            color: #375a7f;

            & > .indicator {
                background-color: #375a7f;
            }

            & .indicator:before,
            & .indicator:after {
                background-color: #375a7f;
            }
        }

        & > li.active ~ li {
            color: #888888;

            & > .indicator {
                background-color: #bbbbbb;
            }

            & .indicator:before,
            & .indicator:after {
                background-color: #bbbbbb;
            }
        }
    }
}
