.mw-bs  {
    @import (less) "paper.css";

    .btn-primary.btn-outline {
        color: #2196f3;
        border: 1px solid #2196f3;
    }

    .btn-success.btn-outline {
        color: #4caf50;
        border: 1px solid #4caf50;
    }

    .btn-info.btn-outline {
        color: #9c27b0;
        border: 1px solid #9c27b0;
    }

    .btn-warning.btn-outline {
        color: #ff9800;
        border: 1px solid #ff9800;
    }

    .btn-danger.btn-outline {
        color: #e51c23;
        border: 1px solid #e51c23;
    }

    .mw-toggle input:checked + div {
        background: #2196f3;
    }

    .mw-toggle input:focus + div {
        box-shadow: 0 0 1px #2196F3;
    }

    .mw-toggle input:checked + div.success {
        background: #4caf50;
    }

    .mw-toggle input:focus + div.success {
        box-shadow: 0 0 1px #4caf50;
    }

    .mw-toggle input:checked + div.info {
        background: #9c27b0;
    }

    .mw-toggle input:focus + div.info {
        box-shadow: 0 0 1px #9c27b0;
    }

    .mw-toggle input:checked + div.warning {
        background: #ff9800;
    }

    .mw-toggle input:focus + div.warning {
        box-shadow: 0 0 1px #ff9800;
    }

    .mw-toggle input:checked + div.danger {
        background: #e51c23;
    }

    .mw-toggle input:focus + div.danger {
        box-shadow: 0 0 1px #e51c23;
    }
}
