.mw-bs  {
    @import (less) "readable.css";

    .btn-primary.btn-outline {
        color: #4582ec;
    }

    .btn-success.btn-outline {
        color: #3fad46;
    }

    .btn-info.btn-outline {
        color: #5bc0de;
    }

    .btn-warning.btn-outline {
        color: #f0ad4e;
    }

    .btn-danger.btn-outline {
        color: #d9534f;
    }

    .mw-toggle input:checked + div {
        background: #4582ec;
    }

    .mw-toggle input:focus + div {
        box-shadow: 0 0 1px #4582ec;
    }

    .mw-toggle input:checked + div.success {
        background: #3fad46;
    }

    .mw-toggle input:focus + div.success {
        box-shadow: 0 0 1px #3fad46;
    }

    .mw-toggle input:checked + div.info {
        background: #5bc0de;
    }

    .mw-toggle input:focus + div.info {
        box-shadow: 0 0 1px #5bc0de;
    }

    .mw-toggle input:checked + div.warning {
        background: #f0ad4e;
    }

    .mw-toggle input:focus + div.warning {
        box-shadow: 0 0 1px #f0ad4e;
    }

    .mw-toggle input:checked + div.danger {
        background: #d9534f;
    }

    .mw-toggle input:focus + div.danger {
        box-shadow: 0 0 1px #d9534f;
    }

    .mw-toggle.has-error > div > label,
    .mw-content.has-error > .mce-container {
        border: 1px solid #d9534f;
    }

    .navbar-wizard .steps {
        & > li {              
            color: #3fad46;

            & > .glyphicon {
                background-color: #3fad46;
            }

            & > .indicator {
                background-color: #3fad46;
            }

            & .indicator:before,
            & .indicator:after {
                background-color: #3fad46;
            }
        }

        & > li.active {                
            color: #4582ec;

            & > .indicator {
                background-color: #4582ec;
            }

            & .indicator:before,
            & .indicator:after {
                background-color: #4582ec;
            }
        }

        & > li.active ~ li {
            color: #888888;

            & > .indicator {
                background-color: #bbbbbb;
            }

            & .indicator:before,
            & .indicator:after {
                background-color: #bbbbbb;
            }
        }
    }
}
