.mw-bs  {
    @import (less) "superhero.css";

    .btn-default.btn-outline {
        color: #4e5d6c;
        border-color: #4e5d6c;
    }

    .btn-primary.btn-outline {
        color: #df691a;
        border-color: #df691a;
    }

    .btn-success.btn-outline {
        color: #5cb85c;
        border-color: #5cb85c;
    }

    .btn-info.btn-outline {
        color: #5bc0de;
        border-color: #5bc0de;
    }

    .btn-warning.btn-outline {
        color: #f0ad4e;
        border-color: #f0ad4e;
    }

    .btn-danger.btn-outline {
        color: #d9534f;
        border-color: #d9534f;
    }

    .mw-toggle input:checked + div {
        background: #df691a;
    }

    .mw-toggle input:focus + div {
        box-shadow: 0 0 1px #df691a;
    }

    .mw-toggle input:checked + div.success {
        background: #5cb85c;
    }

    .mw-toggle input:focus + div.success {
        box-shadow: 0 0 1px #5cb85c;
    }

    .mw-toggle input:checked + div.info {
        background: #5bc0de;
    }

    .mw-toggle input:focus + div.info {
        box-shadow: 0 0 1px #5bc0de;
    }

    .mw-toggle input:checked + div.warning {
        background: #f0ad4e;
    }

    .mw-toggle input:focus + div.warning {
        box-shadow: 0 0 1px #f0ad4e;
    }

    .mw-toggle input:checked + div.danger {
        background: #d9534f;
    }

    .mw-toggle input:focus + div.danger {
        box-shadow: 0 0 1px #d9534f;
    }
}
