.mw-bs  {
    @import (less) "slate.css";

    .btn-default.btn-outline {
        color: #3a3f44;
        border-color: #3a3f44;
    }

    .btn-primary.btn-outline {
        color: #7a8288;
        border-color: #7a8288;
    }

    .btn-success.btn-outline {
        color: #62c462;
        border-color: #62c462;
    }

    .btn-info.btn-outline {
        color: #5bc0de;
        border-color: #5bc0de;
    }

    .btn-warning.btn-outline {
        color: #f89406;
        border-color: #f89406;
    }

    .btn-danger.btn-outline {
        color: #ee5f5b;
        border-color: #ee5f5b;
    }

    .mw-toggle input:checked + div {
        background: #7a8288;
    }

    .mw-toggle input:focus + div {
        box-shadow: 0 0 1px #7a8288;
    }

    .mw-toggle input:checked + div.success {
        background: #62c462;
    }

    .mw-toggle input:focus + div.success {
        box-shadow: 0 0 1px #62c462;
    }

    .mw-toggle input:checked + div.info {
        background: #5bc0de;
    }

    .mw-toggle input:focus + div.info {
        box-shadow: 0 0 1px #5bc0de;
    }

    .mw-toggle input:checked + div.warning {
        background: #f89406;
    }

    .mw-toggle input:focus + div.warning {
        box-shadow: 0 0 1px #f89406;
    }

    .mw-toggle input:checked + div.danger {
        background: #ee5f5b;
    }

    .mw-toggle input:focus + div.danger {
        box-shadow: 0 0 1px #ee5f5b;
    }
}
