.mw-bs  {
    @import (less) "spacelab.css";

    .btn-default.btn-outline {
        color: #474949;
    }

    .btn-primary.btn-outline {
        color: #446e9b;
    }

    .btn-success.btn-outline {
        color: #3cb521;
    }

    .btn-info.btn-outline {
        color: #3399f3;
    }

    .btn-warning.btn-outline {
        color: #d47500;
    }

    .btn-danger.btn-outline {
        color: #cd0200;
    }

    .mw-toggle input:checked + div {
        background: #446e9b;
    }

    .mw-toggle input:focus + div {
        box-shadow: 0 0 1px #446e9b;
    }

    .mw-toggle input:checked + div.success {
        background: #3cb521;
    }

    .mw-toggle input:focus + div.success {
        box-shadow: 0 0 1px #3cb521;
    }

    .mw-toggle input:checked + div.info {
        background: #3399f3;
    }

    .mw-toggle input:focus + div.info {
        box-shadow: 0 0 1px #3399f3;
    }

    .mw-toggle input:checked + div.warning {
        background: #d47500;
    }

    .mw-toggle input:focus + div.warning {
        box-shadow: 0 0 1px #d47500;
    }

    .mw-toggle input:checked + div.danger {
        background: #cd0200;
    }

    .mw-toggle input:focus + div.danger {
        box-shadow: 0 0 1px #cd0200;
    }

    .navbar-wizard .steps {
        & > li {              
            color: #3cb521;

            & > .glyphicon {
                background-color: #3cb521;
            }

            & > .indicator {
                background-color: #3cb521;
            }

            & .indicator:before,
            & .indicator:after {
                background-color: #3cb521;
            }
        }

        & > li.active {                
            color: #446e9b;

            & > .indicator {
                background-color: #446e9b;
            }

            & .indicator:before,
            & .indicator:after {
                background-color: #446e9b;
            }
        }

        & > li.active ~ li {
            color: #888888;

            & > .indicator {
                background-color: #bbbbbb;
            }

            & .indicator:before,
            & .indicator:after {
                background-color: #bbbbbb;
            }
        }
    }
}
