.mw-bs  {
    @import (less) "tooling.css";

    .btn-default.btn-outline {
        color: #cccccc;
    }

    .btn-primary.btn-outline {
        color: #008cba;
    }

    .btn-success.btn-outline {
        color: #43ac6a;
    }

    .btn-info.btn-outline {
        color: #46b8da;
    }

    .btn-warning.btn-outline {
        color: #f8b156;
    }

    .btn-danger.btn-outline {
        color: #ea2f10;
    }
}
