#page-builder {

  width: 1800px;
  margin: 0 auto;
  font-family: sans-serif;

  .ui-draggable {
    cursor: move;
  }

  h1 {
    text-align: center;
  }

  .nav-builder {
    min-height: 2em;
    margin: 1em;
    display: inline-block;

    input {
      display: table;
      vertical-align: middle;
    }
  }

  .section-header {
    background-color: rgb(100, 100, 100);
    font-weight: bold;
    text-align: center;
    display: inline-block;
    width: 100%;

    h5 {
      color: #ffffff !important;
    }

  }

  #component-buttons {

    ul {
      padding-left: 0;

    }
  }

  .component-button {
    width: 9em;
    margin-top: 1em;

  }

  #canvas {
    margin-top: 10px;
    padding-top: 1em;
    border: 1px dashed grey;
    height: calc(690px);
    overflow-y: scroll;

  }

  #configuration {
    border: 1px solid grey;
    min-height: 700px;
    padding: 2em;
  }

  .active-canvas {
    background-color: rgba(168, 255, 8, 0.56);
  }

  .manywho-page-component {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 5px;
  }

  .highlight {
    border: 0.2em solid #00dba3;

  }

  .component-bin {
    margin-top: 20px;
    text-align: center;
    font-size: 40px

  }

  .orange-background {
    background-color: rgba(255, 189, 48, 0.63);

  }
}