#page-builder {
  width: 1800px;
  margin: 0 auto;
  font-family: sans-serif;
}
#page-builder .ui-draggable {
  cursor: move;
}
#page-builder h1 {
  text-align: center;
}
#page-builder .nav-builder {
  min-height: 4em;
  margin: 1em;
  display: inline-block;
}
#page-builder .nav-builder input {
  display: table;
  vertical-align: middle;
}
#page-builder .section-header {
  color: #ffffff;
  background-color: #646464;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  width: 100%;
  height: 2em;
}
#page-builder #component-buttons ul {
  padding-left: 0;
}
#page-builder .component-button {
  width: 8em;
  margin-top: 1em;
}
#page-builder #canvas {
  margin-top: 0.5em;
  border: 1px dashed grey;
  min-height: 700px;
}
#page-builder #configuration {
  border: 1px solid grey;
  min-height: 700px;
}
#page-builder .active-canvas {
  background-color: #88ed00;
}
