#page-builder {
  margin: 0 auto;
  font-family: sans-serif;
}
#page-builder .ui-draggable {
  cursor: move;
}
#page-builder h1 {
  text-align: center;
}
#page-builder #page-name {
  display: table;
  vertical-align: middle;
}
#page-builder .section-header {
  background-color: #646464;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  width: 100%;
}
#page-builder .section-header h5 {
  color: #ffffff !important;
}
#page-builder #component-buttons ul {
  padding-left: 0;
}
#page-builder .component-button {
  width: 100%;
  margin-top: 1em;
}
#page-builder #canvas {
  margin-top: 10px;
  padding-top: 1em;
  border: 1px dashed grey;
  height: 590px;
  overflow-y: scroll;
}
#page-builder #configuration {
  border: 1px solid grey;
  height: 600px;
  overflow-y: scroll;
  padding: 2em;
}
#page-builder .active-canvas {
  background-color: rgba(168, 255, 8, 0.56);
}
#page-builder .manywho-page-component {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 5px;
}
#page-builder .highlight-saved {
  border: 0.2em solid #00dba3;
}
#page-builder .highlight {
  border: 0.2em solid #d78f05;
}
#page-builder .component-bin {
  margin-top: 20px;
  text-align: center;
  font-size: 40px;
}
#page-builder .orange-background {
  background-color: rgba(255, 189, 48, 0.63);
}
#page-builder .manywho-field-label {
  color: #FFFFFF;
}
#page-builder .manywho-delete-page-component {
  float: right;
  color: #FFFFFF;
  vertical-align: middle;
  cursor: pointer;
}
