body #draw-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
body #draw-modal .modal {
  position: absolute;
  width: 90%;
  height: 98%;
  margin: 0 auto;
  top: 1%;
  left: 0;
  overflow: auto;
}
body #draw-modal .modal-dialog {
  width: auto !important;
  height: auto !important;
}
body #draw-modal .modal-dialog .modal-body {
  overflow-y: auto !important;
}
body #draw-modal .lua-placeholder {
  display: block;
  width: 90%;
  min-height: 300px;
  margin: 0 auto;
}
body #flow-title {
  margin-top: 0;
}
body #graph {
  min-height: 800px;
  border: 2px solid grey;
  overflow: hidden;
}
body #graph-outline {
  border: 2px solid grey;
  margin-bottom: 2em;
}
body ul {
  padding-left: 0;
}
body li {
  list-style: none;
}
body .execute-buttons {
  height: 10px;
  margin-right: 1em;
}
body .execute-buttons a {
  color: #ffffff !important;
}
body .element-button {
  width: 100%;
  margin-top: 0.4em;
}
body .mw-bs {
  /*.manywho-modal-footer {
        position: absolute;
        left: 0px !important;
        right: 0px !important;
        bottom: 0px !important;
    }*/
  /* CSS Specifically for the form builder START */
  /* Tell the browser to use box sizing which means the width attribute includes padding! */
  /* CSS Specifically for the form builder FINISH */
  /* The css for the navigation editor */
}
body .mw-bs body {
  padding-top: 60px;
}
body .mw-bs h3 {
  color: #999999 !important;
}
body .mw-bs ul.scroll-menu {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  -ms-overflow-scrolling: touch;
  -o-overflow-scrolling: touch;
  overflow-scrolling: touch;
  top: 0 !important;
  left: 100% !important;
  width: 100%;
  height: auto;
  max-height: 400px;
  margin: 0;
  border-left: none;
  border-right: none;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  border-radius: 0 !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
body .mw-bs .input-append {
  margin-bottom: 0px !important;
}
body .mw-bs .nav-pills {
  margin-bottom: 0px !important;
}
body .mw-bs .fixed-container {
  position: fixed;
}
body .mw-bs .manywho-toolbar-section-title {
  font-weight: bold;
}
body .mw-bs .manywho-debug-info {
  margin-top: 10px !important;
}
body .mw-bs .manywho-wait {
  position: absolute;
  top: 120px;
  left: 50%;
  width: 250px;
  margin-left: -125px;
}
body .mw-bs .manwho-form-field-actions {
  padding-bottom: 5px;
}
body .mw-bs .manywho-runtime-presentation-field {
  margin-bottom: 10px !important;
  color: #999999 !important;
}
body .mw-bs .manywho-runtime-table-field td {
  vertical-align: middle !important;
}
body .mw-bs .manywho-runtime-table-field-contaner {
  overflow: auto;
  max-height: 320px;
}
body .mw-bs .manywho-form-section-grid {
  background-color: #CCC;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  min-height: 40px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 5px;
}
body .mw-bs .manywho-form-column-grid {
  background-color: #EEE;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  min-height: 40px;
  padding-left: 5px;
  padding-right: 5px;
}
body .mw-bs .manywho-form-cell-grid-block {
  background-color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  min-height: 40px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
body .mw-bs .manywho-form-field-block {
  background-color: #D9EDF7;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  min-height: 40px;
  padding: 5px;
  vertical-align: top;
}
body .mw-bs .manywho-sortable-placeholder {
  background-color: #DFF0D8;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  min-height: 60px !important;
  visibility: visible !important;
  margin-bottom: 5px;
}
body .mw-bs .manywho-sortable-placeholder * {
  visibility: hidden;
}
body .mw-bs .manywho-form-field-sortable-placeholder {
  background-color: #DFF0D8;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border: 2px solid #FFF;
  border-radius: 3px;
  min-height: 30px !important;
  min-width: 80px !important;
  line-height: 30px;
  visibility: visible !important;
  display: inline-block;
}
body .mw-bs .manywho-formbuilder-control-left {
  display: inline-block;
}
body .mw-bs .manywho-formbuilder-control-left > i {
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  margin-right: 0px;
}
body .mw-bs .manywho-formbuilder-control-right {
  display: inline-block;
  float: right;
}
body .mw-bs .manywho-formbuilder-control-right > i {
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  margin-right: 0px;
}
body .mw-bs .manywho-field {
  display: inline-block;
  margin-right: 5px;
}
body .mw-bs .manywho-form-field {
  display: inline-block;
  margin-right: 5px;
  background-color: #FCF8E3;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  visibility: visible !important;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
body .mw-bs .manywho-formbuilder-field {
  clear: both;
  float: none;
}
body .mw-bs .manywho-formbuilder-layout-label {
  display: inline-block;
}
body .mw-bs .manywho-runtime-table-field > tbody {
  font-weight: normal !important;
}
body .mw-bs .manywho-formeditor-scaffolding-controls {
  margin-bottom: 5px;
}
body .mw-bs .manywho-runtime-field-required > div > label {
  font-weight: bold !important;
}
body .mw-bs .manywho-runtime-field-required > div > label:after {
  color: #ff0000;
  content: ' *';
  display: inline;
}
body .mw-bs #manywho-flow-container {
  position: absolute;
  overflow: hidden;
  top: 44px;
  left: 250px;
  bottom: 0px;
  right: 0px;
  cursor: default;
}
body .mw-bs #manywho-flow-outline-container {
  position: absolute;
  overflow: hidden;
  top: 60px;
  right: 5px;
  width: 200px;
  height: 140px;
  background: transparent;
  border-style: solid;
  border-color: black;
}
body .mw-bs .manywho-fullscreen-modal {
  position: absolute;
  top: 5px !important;
  left: 5px !important;
  right: 5px !important;
  /*bottom: 5px !important;*/
  z-index: 1040 !important;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}
body .mw-bs #flow-error {
  position: relative !important;
  min-height: 0px !important;
  z-index: 1020;
}
body .mw-bs .page-sortable {
  width: auto;
  height: auto;
  min-height: 40px;
  padding: 5px;
  overflow: hidden !important;
  background-color: #fefbed;
}
body .mw-bs .page-sortable-horizontal > div {
  float: left;
}
body .mw-bs .page-sortable-inline > div {
  float: left;
  margin-right: 5px;
}
body .mw-bs .page-sortable-vertical > div {
  width: auto;
  margin-bottom: 5px;
}
body .mw-bs .page-sortable-group > div {
  width: auto;
  margin-bottom: 5px;
}
body .mw-bs .page-placeholder {
  width: 150px;
  height: auto;
  min-height: 40px;
  background-color: #dff0d8;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
body .mw-bs .page-builder-heading {
  padding-bottom: 10px;
}
body .mw-bs .manywho-page-container-label {
  font-weight: bold;
  color: #ffffff;
}
body .mw-bs .manywho-page-container {
  overflow: hidden !important;
  background-color: #f1e7bc;
  padding: 5px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  min-width: 100px;
}
body .mw-bs .manywho-page-container-controls {
  overflow: hidden !important;
  padding: 5px;
}
body .mw-bs .manywho-page-component {
  overflow: hidden !important;
  background-color: #ffffff;
  padding: 5px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  min-width: 100px;
}
body .mw-bs .manywho-page-component-controls {
  overflow: hidden !important;
  background-color: #6DCAEC;
  padding: 5px;
  margin-bottom: 5px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
body .mw-bs .page-builder {
  overflow: hidden !important;
  width: auto;
  background-color: #f1e7bc;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
body .mw-bs .manywho-page-component-required {
  font-weight: bold !important;
}
body .mw-bs .manywho-page-component-required:after {
  color: #ff0000;
  content: ' *';
  display: inline;
}
body .mw-bs #run-flow {
  margin-bottom: 5px !important;
}
body .mw-bs #activate-flow {
  margin-bottom: 5px !important;
}
body .mw-bs #close-flow {
  margin-bottom: 5px !important;
}
body .mw-bs #manywho-dialog-developer {
  background-color: #444444 !important;
}
body .mw-bs #manywho-dialog-header-developer.modal-header {
  border-bottom: 1px solid #222222 !important;
}
body .mw-bs #manywho-dialog-header-developer.modal-header h3 {
  color: #ffffff !important;
}
body .mw-bs #manywho-model-runtime-developer.modal-body p {
  color: #c6c6c6 !important;
}
body .mw-bs #manywho-model-outcomes-developer.modal-footer {
  background-color: #373737 !important;
  border-top: 1px solid #222222 !important;
  -moz-box-shadow: 0 1px 0 #333333 inset !important;
  -webkit-box-shadow: 0 1px 0 #333333 inset !important;
  -o-box-shadow: 0 1px 0 #333333 inset !important;
  box-shadow: 0 1px 0 #333333 inset !important;
}
body .mw-bs .manywho-form-field-loading-indicator {
  height: 16px;
  width: 16px;
  display: inline-block;
  background-image: url('https://cdn.manywho.com/images/loading_indicator_16.gif');
  background-repeat: no-repeat;
}
body .mw-bs .manywho-runtime-table-field-container {
  position: relative;
  min-height: 96px;
}
body .mw-bs .manywho-form-field-table-loading-indicator {
  min-height: 64px;
  min-width: 64px;
  background-image: url('https://cdn.manywho.com/images/loading_indicator_64.gif');
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  margin: 0px 0 0 -32px;
  top: 32px;
  left: 50%;
}
body .mw-bs .manywho-navigation-editor {
  margin-left: -25px !important;
}
body .mw-bs .placeholder {
  outline: 1px dashed #4183C4;
}
body .mw-bs ol.manywho-navigation-editor-sortable,
body .mw-bs ol.manywho-navigation-editor-sortable ol {
  list-style-type: none;
}
body .mw-bs .manywho-navigation-editor-sortable li div {
  margin: 2px 2px 2px 2px !important;
  cursor: move;
}
body .mw-bs .manywho-navigation-editor-sortable li div input {
  margin: 0px 0px 0px 0px !important;
}
body .mw-bs .manywho-navigation-editor-sortable li div select {
  margin: 0px 0px 0px 0px !important;
}
body .mw-bs #manywho-navigation-element-name {
  margin: 0px 0px 0px 0px !important;
}
body .mw-bs #manywho-navigation-element-label {
  margin: 0px 0px 0px 0px !important;
}
body .mw-bs .manywho-navigation-editor-menu {
  margin-top: 15px !important;
}
body .mw-bs .manywho-runtime-table-actions-header {
  width: 180px;
}
body .mw-bs .manywho-runtime-table-actions-entry {
  width: 180px;
}
