body {

  .draw-tool {
    margin-top: 5em;
  }

  #flow-title {
    margin-top: 0;
  }

  #graph {
    min-height: 900px;
    border: 2px solid grey;
    overflow: hidden;
  }

  #graph-outline {
    border: 2px solid grey;
    margin-bottom: 2em;
  }

  ul {
    padding-left: 0;
  }

  li {
    list-style: none;
  }

  .execute-buttons {
    height: 10px;
    margin-right: 1em;

    a {
      color: #ffffff !important;
    }
  }

  .element-button {
    width: 100%;
  }
}