body #flow-title {
  margin-top: 0;
}
body #graph {
  min-height: 800px;
  border: 2px solid grey;
  overflow: hidden;
}
body #graph-outline {
  border: 2px solid grey;
  margin-bottom: 2em;
}
body ul {
  padding-left: 0;
}
body li {
  list-style: none;
}
body .execute-buttons {
  height: 10px;
  margin-right: 1em;
}
body .execute-buttons a {
  color: #ffffff !important;
}
body .element-button {
  width: 100%;
}
